* {
  margin: 0;
  padding: 0;
}

body {
  background: #f0f2f5;
}

.container {
  width: 100%;
  height: 80vh;
}

.left-container {
  width: 38%;
  display: inline-block;
  vertical-align: top;
  margin: 13% 2% 4% 12%; 
  
}

.left-container p {
  font-size: 30px;
  margin-left: 30px;
}

form {
  text-align: center;
  border: 2px solid #fff;
  background-color: #fff;
  padding: 15px 5px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  font-family:sans-serif;
  height: vh;

}

.right-container {
  font-size: 20px;
  width: 27%;
  display: inline-block;
  border: 2px solid #f0f2f5;
  text-align: center;
  margin: 10% 4% 4% 4%; 
  position: relative;
  
}

.right-container p {
  margin: 3% 2%;
  font-size: 16px;
  margin: 4% 0;
}


input {
  font-size: 16px;
  width: 94%;
  height: 7vh;
  border: 1px solid #94939C;
  margin: 6px 0px;
  border-radius: 8px;
}

.btn-1
{
  font-size: 17px;
  font-weight: 700;
  width: 94%;
  height: 7vh;
  border-radius: 8px;
  background: #166FE5;
  border: #166FE5;
  color: #fff;
}

.btn-2
{
  font-size: 17px;
  font-weight: 700;
  width: 64%;
  height: 7vh;
  border-radius: 8px;
  margin: 5% 2%;
  background: #36A420;
  border: #36A420;
  color: #fff;
  
}